body{
    background-color: black;
 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;

}



img {
    width: 200px;
    height: 200px; 
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}




    
    
